*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: cursive, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}
th{
  text-transform: uppercase;
  padding: 10px;
}
caption{
  margin-bottom: 10px;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color:#ff914d;
  margin-bottom: 10px;
  text-transform: capitalize;
}

form {
  max-width: 600px;
  margin: 40px auto;
  background: #1e1e2f;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

table {
  margin: auto;
  width: 98%;
  border-collapse:collapse;
  border-spacing: 0 15px;
}
td {
  padding: 7px;
  text-align: center;
  color: #c4c4c4;
}
input[type="text"], textarea {
  width: 100%;
  padding: 12px;
  background-color: #2d2d3e;
  border: 1px solid #ff914d;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
  height: 90px;
}
.btn {
  width:100px;
  padding: 5px;
  background-color: #ff4c60;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}
.btn:hover {
  background-color: #ff616d;
  transform: scale(1.05);
}
.main-btn {
  padding: 15px 30px;
  background-color: #ff4c60;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(255, 76, 97, 0.174);
}
.main-btn:hover {
  background-color: #f83f5b;
  transform: translateY(-3px);
}




